package ${package.Mapper};

import org.apache.ibatis.annotations.Mapper;
import com.zhishouwei.common.model.mapper.BaseMapper;
##import ${package.Entity}.${table.mapperName};
import ${package.Entity}.${entity};

/**
 * @Author: auto generate by hutu
 * @Create: ${date}
 */
@Mapper
public interface ${table.mapperName} extends BaseMapper<${entity}> {
}
